@charset "UTF-8";
@font-face {
  font-family: "MT";
  src: url("../font/ARIALMT.ttf") format("truetype"), url("../font/ARIALMT.woff") format("woff");
}

:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: "微軟正黑體", cursive;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dbdbdb;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

header {
  position: fixed;
  z-index: 20;
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.topCarousel {
  width: 100%;
  height: 48vw;
}

.TOP {
  position: fixed;
  width: 100%;
}

.text {
  width: 27vw;
  height: 13vw;
  padding: 45px 0;
  background-color: #e4e4e4ab;
  top: 45%;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: run 1.5s linear;
          animation: run 1.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.first_text {
  width: 55%;
  overflow: hidden;
}

.first_text img {
  width: 100%;
  bottom: -40px;
  -webkit-animation: run2 .5s 1.5s linear;
          animation: run2 .5s 1.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.second_text {
  width: 65%;
  margin-top: 20px;
  overflow: hidden;
}

.second_text img {
  width: 100%;
  bottom: -40px;
  -webkit-animation: run2 .5s 2s linear;
          animation: run2 .5s 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.route {
  min-height: 50px;
  width: 96%;
}

@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes run {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes run2 {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes run2 {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: 0px;
  }
}

.route_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32.5% 32.5% 32.5%;
      grid-template-columns: 32.5% 32.5% 32.5%;
  grid-column-gap: 1.25%;
  grid-row-gap: 15px;
  margin: 0 auto;
}

.route_content {
  width: 100%;
  background-color: var(--UPBA);
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: var(--Font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.route_left {
  width: 25%;
  padding: 0 10px 0 10px;
}

.route_content img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.route_right {
  width: 75%;
  padding: 20px 0 20px 5px;
  min-height: 70px;
  letter-spacing: 1px;
  color: var(--Font);
}

.route_title {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.route_text {
  font-size: 12px;
  margin: 8px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hot {
  margin-top: 40px;
  min-height: 50px;
  width: 96%;
}

.hot_top {
  min-height: 40px;
}

.hot_title {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  color: var(--Font);
  font-size: 20px;
}

.hot_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  width: 80%;
  float: left;
  font-family: "微軟正黑體", cursive;
  padding: 0px 5px;
}

.hot_nav input {
  display: none;
}

.hot_nav label {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-family: "Arial Black";
  font-weight: bold;
  list-style-type: none;
  outline: 2px solid var(--NAV_F);
  opacity: 0.5;
  background-size: cover;
  cursor: pointer;
}

.hot_nav label:hover {
  opacity: 0.7;
}

.hot_nav span {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--NAV_F);
  padding: 1px 0px;
  line-height: 19px;
  font-size: 14px;
}

#hot1:checked + label,
#hot2:checked + label,
#hot3:checked + label,
#hot4:checked + label {
  opacity: 1;
}

#hot1:checked + label span,
#hot2:checked + label span,
#hot3:checked + label span,
#hot4:checked + label span {
  padding: 4px 0px;
  line-height: 16px;
  font-size: 12px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.hot_content {
  margin-top: 30px;
  background-color: var(--UPBA);
  color: #264D52;
  padding: 20px 25px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot_content_left {
  width: 45%;
  height: 245px;
  overflow: hidden;
}

.hot_content_right {
  left: 50px;
  width: 55%;
}

.hot_content_title {
  font-size: 20px;
  line-height: 50px;
}

.hot_content_text {
  margin: 5px 25px;
  font-size: 14px;
  line-height: 24px;
}

.hot_content img {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new {
  margin-top: 40px;
  min-height: 50px;
  width: 96%;
  color: var(--Font);
}

.new_title {
  float: left;
  margin-right: 20px;
  font-size: 20px;
}

.new_smalltitle {
  padding: 7.5px 0 0 0;
  font-size: 12px;
  text-decoration: underline;
}

.new_box {
  width: 100%;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: 160px 160px;
      grid-template-rows: 160px 160px;
}

.new_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.new_img1 {
  grid-column: span 2;
}

.new_img2 {
  grid-column: span 2;
}

.new_img3 {
  grid-column: span 3;
}

.new_img4 {
  grid-column: span 3;
}

.new_img5 {
  grid-column: span 4;
}

.new_img6 {
  grid-column: span 3;
}

.new_img7 {
  grid-column: span 3;
}

.new_img img {
  width: 100%;
  border-radius: 1px;
}

.new_img:hover {
  z-index: 10;
  overflow: visible;
}

.new_img img:hover {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=home.css.map */