@charset "UTF-8";
@font-face {
  font-family: "MT";
  src: url("../font/ARIALMT.ttf") format("truetype"), url("../font/ARIALMT.woff") format("woff");
}

:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: "微軟正黑體", cursive;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dbdbdb;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

header {
  position: absolute;
  z-index: 20;
}

.topCarousel {
  width: 100%;
  height: 50vw;
}

.route {
  min-height: 50px;
  width: 96%;
}

.route_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32.5% 32.5% 32.5%;
      grid-template-columns: 32.5% 32.5% 32.5%;
  grid-column-gap: 1.25%;
  grid-row-gap: 15px;
  margin: 0 auto;
}

.route_content {
  width: 100%;
  background-color: var(--UPBA);
  padding: 20px 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.route_content a {
  text-decoration: none;
  color: var(--Font);
}

.route_content img {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 4px 10px 0 10px;
}

.route_right {
  padding: 0px 0 0px 5px;
  min-height: 70px;
  float: left;
  letter-spacing: 1px;
  color: var(--Font);
}

.route_title {
  font-size: 14px;
}

.route_text {
  font-size: 12px;
  margin: 8px 0 0 0;
}

.route_hashtag {
  font-size: 12px;
  margin: 8px 0 0 0;
}

.hot {
  margin-top: 40px;
  min-height: 50px;
  width: 96%;
}

.hot_top {
  min-height: 40px;
}

.hot_title {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  color: var(--Font);
  font-size: 20px;
}

.hot_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  width: 80%;
  float: left;
  font-family: "微軟正黑體", cursive;
  padding: 0px 5px;
}

.hot_nav input {
  display: none;
}

.hot_nav label {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-family: "Arial Black";
  font-weight: bold;
  list-style-type: none;
  outline: 2px solid var(--NAV_F);
  opacity: 0.5;
  background-size: cover;
}

.hot_nav label:hover {
  opacity: 0.7;
}

.hot_nav span {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--NAV_F);
  padding: 1px 0px;
  line-height: 19px;
  font-size: 14px;
}

#hot1:checked + label,
#hot2:checked + label,
#hot3:checked + label,
#hot4:checked + label {
  opacity: 1;
}

#hot1:checked + label span,
#hot2:checked + label span,
#hot3:checked + label span,
#hot4:checked + label span {
  padding: 4px 0px;
  line-height: 16px;
  font-size: 12px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.hot_content {
  margin-top: 30px;
  background-color: var(--UPBA);
  color: #264D52;
  padding: 20px 25px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.hot_content_right {
  left: 50px;
  float: right;
  width: 55%;
}

.hot_content_title {
  font-size: 17px;
  line-height: 50px;
}

.hot_content_text {
  margin: 5px 25px;
  font-size: 14px;
  line-height: 24px;
}

.hot_content img {
  width: 45%;
  height: 245px;
}

.new {
  margin-top: 40px;
  min-height: 50px;
  width: 96%;
  color: var(--Font);
}

.new_title {
  float: left;
  margin-right: 20px;
  font-size: 20px;
}

.new_smalltitle {
  padding: 7.5px 0 0 0;
  font-size: 12px;
  text-decoration: underline;
}

.new_box {
  width: 100%;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
}

.new_img {
  width: 100%;
  height: 100%;
  outline: 1px solid var(--Font);
}

.new_img1 {
  grid-column: span 2;
}

.new_img2 {
  grid-column: span 2;
}

.new_img3 {
  grid-column: span 3;
}

.new_img4 {
  grid-column: span 3;
}

.new_img5 {
  grid-column: span 4;
}

.new_img6 {
  grid-column: span 3;
}

.new_img7 {
  grid-column: span 3;
}

.w-100 {
  width: 100%;
  height: 50vw;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-item {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}

.carousel-item-next, .carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.active.carousel-item-right, .carousel-item-next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .active.carousel-item-right, .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.active.carousel-item-left, .carousel-item-prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .active.carousel-item-left, .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 30px 20px 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 40px;
  height: 5px;
  margin: 0 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}
/*# sourceMappingURL=home.css.map */