@font-face 
	font-family: "MT"
	src: url('../font/ARIALMT.ttf') format("truetype"),url('../font/ARIALMT.woff') format("woff")
\:root
	--Dark: #679298
	--Back: #ECF4F7
	--Font: #264D52
	--NAV_F: #ECF4F7
	--UPBA: rgba(255, 255, 255, 0.5)
*
	margin: auto
	padding: 0
	box-sizing: border-box
	position: relative
	font-family: "微軟正黑體", cursive
	\::-webkit-scrollbar
		width: 5px
	\::-webkit-scrollbar-track
		border-radius: 10px
	\::-webkit-scrollbar-thumb
		border-radius: 4px
		background: rgb(219, 219, 219)

html,body
	width: 100%
	height: 100%
	background-color: #fff
.container
	padding: 50px 120px 50px 120px

	min-height: 600px
	display: flex
	align-items: flex-start
.container_left
	width: 30%
	margin: 0
.container_right
	width: 70%
	margin: 0
	color: var(--Font)

.site_title
	font-size: 20px
	text-align: left

.wrap
	cursor: pointer
	height: 170px
.wrap a
	height: 100%
	margin: 20px 0 0 0
	display: flex
	align-items: flex-start 
.wrap_img
	height: 100%
	width: 40%
	overflow: hidden
.wrap_img img
	width: 100%
.wrap_text
	width: 60%
	margin: 0px
	padding: 0 0 0 20px
.wrap_title
	font-size: 16px
.wrap_route
	font-size: 14px
	padding: 10px 0 0 5px


//----------Search CSS----------

.route_input_group
	position: relative 
	display: flex
	align-items: flex-start 
	border-collapse: collapse
	width: 250px
	margin: 0 0 10px 0
.route_form_control
	width: 100%
	height: 34px 
	padding: 10px 10px
	font-size: 14px 
	color: #2c5155
	background-color: transparent 
	border: 1px solid var(--Dark)
	border-right: none
	border-radius: 4px 0 0 4px
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s 
	outline: none
	margin: 0
.route_form_control ::-webkit-input-placeholder
	color: #4c777c
.route_form_control:focus 
	color: var(--Dark)
	
.btn 
	display: inline-block 
	padding: 6px 12px 
	height: 34px
	margin-bottom: 0 
	font-size: 14px 
	font-weight: 400 
	text-align: center 
	white-space: nowrap 
	vertical-align: middle 
	touch-action: manipulation 
	cursor: pointer 
	user-select: none 
	border: 1px solid var(--Dark)
	border-left: none
	border-radius: 0 4px 4px 0
	outline: none
	background-color: transparent
.route_search
	color: var(--Dark)

.route_search:active, .open >.route_search
	color: var(--Font)
.choose_box
	position: relative 
	display: flex
	align-items: center
	border-collapse: separate 
	width: 400px
	font-size: 14px
	margin: 0
.choose_box input
	display: none
label
	margin: 2px 
	height: 23px
	color: var(--Dark)

.choose
	left: 0px
	top: -1.5px
	width: 13px
	height: 13px
	border: 2px solid var(--Dark)
	border-radius: 50%
	box-sizing: border-box
.choose:before
	position: absolute
	content: ""
	left: 2.1px
	top: 2.1px
	opacity: 0
	width: 5px
	height: 5px
	border-radius: 50%
	background-color: var(--Dark)
	transition: all .3s
input:checked + .choose:before
	opacity: 1

/*----------介紹頁面----------

.showintro
	position: fixed
	width: 100%
	height: 100vh
	z-index: 1
	overflow-y: auto
	overflow-x: hidden
.showintro::-webkit-scrollbar 
    display: none

.introback
	position: fixed
	width: 100%
	height: 100vh
	background-color: rgba(0, 0, 0, 0.5)

.INTRO
	position: relative
	width: 80%
	height: auto
	border-radius: 20px
	background-color: rgba(255, 255, 255, 0.8)
	z-index: 2
	margin: 25px auto
	color: var(--Font)
.intro_top
	position: relative
	width: 100%
	height: 50px

.closeBtn
	cursor: pointer

.closeBtn1
	position: absolute
	font-size: 20px
	right: 20px
	top: 50%
	transform: translateY(-50%)
	color: #b9b9b9

.intro_content
	width: 90%

.intro_btm
	position: relative
	width: 100%
	height: 50px
	border-top: 1.5px solid #b9b9b9

.closeBtn2
	position: relative
	font-size: 25px
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	color: #b9b9b9

.closeBtn:hover
	color: rgba(121, 121, 121, 0.6)
.intro_intro
	text-align: center
.tourline_title
	font-size: 20px
.tourline_intro
	margin: 10px auto 20px
	width: 70%
	font-size: 14px
.tourArticle
	padding-left: 60px
	margin-bottom: 50px
	padding-top: 20px

.tourArticle::before
	content: ''
	display: block
	width: 1.5px
	height: calc(100% + 30px)
	background-color: var(--Dark)
	position: absolute
	left: calc((50px - 2px)/2)
	top: 0px
.tourArticle::after 
    content: ''
    display: block
    width: 10px
    height: 10px
    border-radius: 100%
    background-color: var(--Font)
    position: absolute
    left: 19.5px
    bottom: -30px
.tourtitle
	left: -8px
	padding-bottom: 5px 
	z-index: 10
.tourtitle::after
    content: ''
    display: block
    width: 10px
    height: 10px
    border-radius: 100%
    background-color: var(--Font)
    position: absolute
    left: 27.5px
    bottom: -10px
.tourlineBox
	border: 1px solid var(--Dark)
	border-radius: 20px
	padding: 20px
	margin: 20px 0
	display: flex

.tourlineBox:before, .tourlineBox_distance:before
	content: ''
	width: 35px
	height: 1.5px
	background-color: var(--Dark)
	position: absolute
	left: -36px
	top: 50%

.showintro img
	width: 50%
	height: 100%
	display: block
	top: 0
	border-radius: 10px


.tourlineSpots_Right
	width: 50%
	padding: 0 0 0 25px
.tourlineSpots_title
	font-size: 20px
	margin: 10px 0 
.distancebtn
	display: inline-block
	color: var(--Dark)
	margin-left: 15px
	line-height: 30px
	border-bottom: 2px dashed var(--Dark)
	a
		text-decoration: none
		color: var(--Dark)
